
table {
  border-collapse: collapse;
  border-style: hidden;
  margin:auto
}

table td,
table th {
  border: 4px solid black;
  text-align: center;
  width: 250px;
  height: 250px;
}

label {
  font-size: 30px;
}